<a href="https://colab.research.google.com/github/michelleruas/Variance_Machine_Learning_Project/blob/master/Python_basic_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Printing a shape
print("    /| ")
print("   / |")
print("  /  |")
print(" /   |")
print("/____|")

    /|
   / |
  /  |
 /   |
/____|

In [ ]:
#Printing strings
character_name = "John"
character_age = "35"
print("There once was a man named " + character_name + ",")
print("he was "+ character_age + " years old,")
print("he really liked the name "+ character_name + ",")
print("he didn't like being "+ character_age + ".")

There once was a man named John,
he was 35 years old,
he really liked the name John,
he didn't like being 35.

In [ ]:
#String methods
phrase = "Giraffe Academy"
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])
print(phrase[-1])
print(phrase[3:6])

#Passing a parameter
print(phrase.index("A"))
print(phrase.replace("Giraffe", "Elephant"))

giraffe academy
GIRAFFE ACADEMY
False
True
15
G
y
aff
8
Elephant Academy

In [ ]:
#Using numbers
num = 0.384
print(num)
print(type(num))

num = 3
print(num)
print(type(num))

num = -100
print(num)
print(type(num))

print(2*(8+3))
print(10 % 3)

print(str(num))
print(type(str(num)))

#4Ë†6
print(pow(4,6))
#Returns max and min
print(max(4,6))
print(min(4,6))
#Round
print(round(4.346))

0.384
<class 'float'>
3
<class 'int'>
-100
<class 'int'>
22
1
-100
<class 'str'>
4096
6
4
4

In [ ]:
#Using the math module
from math import *

print(floor(3.7))
print(ceil(3.7))
print(sqrt(3.7))

3
4
1.9235384061671346

In [ ]:
#Getting input from a user
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hi "+name + ', you are '+age)

Enter your name: shell
Enter your age: 23
Hi shell, you are 23

In [ ]:
#Build a calculator
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = float(num1) + float(num2)
print('The sum is: ' + str(result))

Enter a number: 4.5
Enter another number: 6
The sum is: 10.5

In [1]:
#Mad libs game

color = input('Enter a color: ')
plural_noun = input('Enter a plural noun: ')
celebrity = input('Enter a celebrity: ')

print('Roses are ' + color)
print(plural_noun + ' are blue')
print('I love ' + celebrity)

Enter a color: green
Enter a plural noun: cars
Enter a celebrity: Rob Pattinson
Roses are green
cars are blue
I love Rob Pattinson

In [20]:
#Lists, first thing would be to give it a descriptive name
#Can put any piece of information into a list
friends = ["laura", "emma", "lauren", "sofia", "chris", "ben"]

In [21]:
#See elements
print(friends[3])
print(friends[-1])
print(friends[1:])
print(friends[2:4])

sofia
ben
['emma', 'lauren', 'sofia', 'chris', 'ben']
['lauren', 'sofia']

In [22]:
#Modify elements
print(friends)
friends[1] = "Andrew"
print(friends)

['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben']
['laura', 'Andrew', 'lauren', 'sofia', 'chris', 'ben']

In [26]:
#List properties and functions
lucky_numbers = [4,2,4,32,42,76]
friends = ["laura", "emma", "lauren", "sofia", "chris", "ben"]

print(friends)
print(lucky_numbers)

#Append to the end of the list
friends.extend(lucky_numbers)
print(friends)

['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben']
[4, 2, 4, 32, 42, 76]
['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben', 4, 2, 4, 32, 42, 76]