<a href="https://colab.research.google.com/github/michelleruas/Variance_Machine_Learning_Project/blob/master/Python_basic_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Printing a shape
print("    /| ")
print("   / |")
print("  /  |")
print(" /   |")
print("/____|")

    /|
   / |
  /  |
 /   |
/____|

In [ ]:
#Printing strings
character_name = "John"
character_age = "35"
print("There once was a man named " + character_name + ",")
print("he was "+ character_age + " years old,")
print("he really liked the name "+ character_name + ",")
print("he didn't like being "+ character_age + ".")

There once was a man named John,
he was 35 years old,
he really liked the name John,
he didn't like being 35.

In [ ]:
#String methods
phrase = "Giraffe Academy"
print(phrase.lower())
print(phrase.upper())
print(phrase.isupper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[0])
print(phrase[-1])
print(phrase[3:6])

#Passing a parameter
print(phrase.index("A"))
print(phrase.replace("Giraffe", "Elephant"))

giraffe academy
GIRAFFE ACADEMY
False
True
15
G
y
aff
8
Elephant Academy

In [ ]:
#Using numbers
num = 0.384
print(num)
print(type(num))

num = 3
print(num)
print(type(num))

num = -100
print(num)
print(type(num))

print(2*(8+3))
print(10 % 3)

print(str(num))
print(type(str(num)))

#4Ë†6
print(pow(4,6))
#Returns max and min
print(max(4,6))
print(min(4,6))
#Round
print(round(4.346))

0.384
<class 'float'>
3
<class 'int'>
-100
<class 'int'>
22
1
-100
<class 'str'>
4096
6
4
4

In [ ]:
#Using the math module
from math import *

print(floor(3.7))
print(ceil(3.7))
print(sqrt(3.7))

3
4
1.9235384061671346

In [ ]:
#Getting input from a user
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hi "+name + ', you are '+age)

Enter your name: shell
Enter your age: 23
Hi shell, you are 23

In [ ]:
#Build a calculator
num1 = input('Enter a number: ')
num2 = input('Enter another number: ')
result = float(num1) + float(num2)
print('The sum is: ' + str(result))

Enter a number: 4.5
Enter another number: 6
The sum is: 10.5

In [1]:
#Mad libs game

color = input('Enter a color: ')
plural_noun = input('Enter a plural noun: ')
celebrity = input('Enter a celebrity: ')

print('Roses are ' + color)
print(plural_noun + ' are blue')
print('I love ' + celebrity)

Enter a color: green
Enter a plural noun: cars
Enter a celebrity: Rob Pattinson
Roses are green
cars are blue
I love Rob Pattinson

In [20]:
#Lists, first thing would be to give it a descriptive name
#Can put any piece of information into a list
friends = ["laura", "emma", "lauren", "sofia", "chris", "ben"]

In [21]:
#See elements
print(friends[3])
print(friends[-1])
print(friends[1:])
print(friends[2:4])

sofia
ben
['emma', 'lauren', 'sofia', 'chris', 'ben']
['lauren', 'sofia']

In [22]:
#Modify elements
print(friends)
friends[1] = "Andrew"
print(friends)

['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben']
['laura', 'Andrew', 'lauren', 'sofia', 'chris', 'ben']

In [27]:
#List properties and functions
lucky_numbers = [4,2,4,32,42,76]
friends = ["laura", "emma", "lauren", "sofia", "chris", "ben"]

print(friends)
print(lucky_numbers)

#Append to the end of the list
friends.extend(lucky_numbers)
print(friends)

#Add new item
friends.append("Serena")
print(friends)

['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben']
[4, 2, 4, 32, 42, 76]
['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben', 4, 2, 4, 32, 42, 76]
['laura', 'emma', 'lauren', 'sofia', 'chris', 'ben', 4, 2, 4, 32, 42, 76, 'Serena']

In [29]:
#Insert takes two parameters
friends = ["laura", "emma", "lauren", "sofia", "chris", "ben"]
friends.insert(1, "Kellly")
print(friends)

['laura', 'Kellly', 'emma', 'lauren', 'sofia', 'chris', 'ben']

In [30]:
#'Get rid of all elements'
friends.clear()
print(friends)

[]

In [32]:
#Pop gives last element
friends = ["laura", "emma", "lauren", "sofia", "chris", "ben"]
friends.pop()

'ben'

In [35]:
#Find out if an element is in the list and where it is
print(friends.index("laura"))

0

In [36]:
#Find out how many times is appears
print(friends.count("laura"))

1

In [39]:
#Put it into alphabetical order
friends.sort()
print(friends)

['chris', 'emma', 'laura', 'lauren', 'sofia']

In [41]:
#Puts numbers into ascending
lucky_numbers.sort()
print(lucky_numbers)

[2, 4, 4, 32, 42, 76]

In [42]:
#Reverse list
lucky_numbers.reverse()
print(lucky_numbers)

[76, 42, 32, 4, 4, 2]

In [44]:
#Can also copy lists
friends2 = friends.copy()
print(friends2)

['chris', 'emma', 'laura', 'lauren', 'sofia']

# Tuples

Container that we can store different values. We can store multiple pieces of information. 

These are IMMUTABLE- cannot be change or modified. ONce you create it, you can't change it.

In [49]:
#Tuple with cooridnates in it
coordinates = (4, 5)
print(coordinates[0])
print(coordinates[1])
tuple3 = (3,4,5,6)
print(tuple3[3])

4
5
6

# Functions

Collection of code that performs a specific task

In [63]:
def sayhi():
    print('Hello user')

In [64]:
sayhi()

Hello user

In [69]:
def sayhi(name):
    print('Hello '+ name)

In [71]:
sayhi("julie")
sayhi("steve")
sayhi("jake")

Hello julie
Hello steve
Hello jake

In [75]:
def sayhi(name, age):
    print('Hello '+ name + '. You are ' + age + '.')

In [77]:
sayhi("Rob", "32")
sayhi("Lauren", "2")
sayhi("Jake", "33")

Hello Rob. You are 32.
Hello Lauren. You are 2.
Hello Jake. You are 33.

In [78]:
def sayhi(name, age):
    print('Hello '+ name + '. You are ' + str(age) + '.')

In [79]:
sayhi("Rob", 32)

Hello Rob. You are 32.

# Return Statement

In [88]:
def cube(x):
  result = x*x*x
  return result

In [89]:
print(cube(3))
print(cube(9))

27
729

# If Statements

In [9]:
is_male = True
is_tall = True

if is_male and is_tall:
  print("They are a tall male.")
else:
  print("They are either not male or not tall or neither.")

They are a tall male

In [12]:
is_male = True
is_tall = False

if is_male and is_tall:
  print("They are a tall male.")
elif is_male and not(is_tall):
  print("They are a short male.")
elif not(is_male) and is_tall:
  print("They are a tall female.")
else:
  print("They are either not male or not tall or neither.")

They are a short male.

In [22]:
def max_num(x,y,z):
  if x>=y:
    if x>=z:
      print(str(x) + " is the biggest")
  elif y>=z:
    print(str(y) + " is the biggest")
  else:
    print(str(z) + " is the biggest")

max_num(9,15,24)

24 is the biggest

In [28]:
def max_num(x,y,z):
  if x>=y and x>=z:
    return x
  elif y>=z:
    return y
  else:
    return z

print(str(max_num(9,150,24)) + " is the biggest")

150 is the biggest

In [ ]:
#Comparison operators
==
!=
>= 
<=
<
>

In [36]:
#Building a better calculator
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))


if op == "*":
    print(num1*num2)
elif op == "+":
    print(num1+num2)
elif op == "-":
    print(num1-num2)
elif op == "/":
    print(num1/num2)
else:
  print("Your inputs were invalid.")

Enter first number: 7
Enter operator: *
Enter second number: 9
63.0

# Dictionaries

In [45]:
#Create it inside curly brackets
#All keys have to be unique
#Can use numbers or any data type as a key

monthConversions = {
    "Jan":"January",
    "Feb":"Feburary",
    "Mar":"March",
    "Apr":"April",
    "May":"May",
    "Jun":"June",
    "Jul":"July",
    "Aug":"August",
    "Sep":"September",
    "Oct":"October",
    "Nov":"November",
    "Dec":"December",
}

In [44]:
print(monthConversions["Nov"])
print(monthConversions["Mar"])
#print(monthConversions["Luv"])

#Can also use get, can specify default value if no value is found instead of error
print(monthConversions.get("Dec"))
print(monthConversions.get("Luv"))
print(monthConversions.get("Luv", "Not a valid key"))

November
March
December
None
Not a valid key