# Read and Write excel

In [1]:
import pandas as pd
df = pd.read_excel('VarianceExample.xlsx')
df

    Unnamed: 0  10   11  12  13  14
0            1   0    0   0   0   0
1            2   0    0   0   0   0
2            3   0    0   0  -2   0
3            4   0    0   0  -4   0
4            5   0    0   0  -6   0
5            6   0  100   0   0   0
6            7   0  100   0   0   0
7            8   0  100   0   0   0
8            9   0  100   0   0   0
9           10   0  100   0   0   0
10          11   0  130   0   0   0
11          12   0  100   0   0   0
12          13   0  100   0   0   0
13          14   0  100   0   0   0
14          15   0  150   0   0   0
15          16   0  100   0   0   0
16          17   0    0   0   0   0
17          18   0    0   0   0   0
18          19  20    5   3   0   0
19          20   0    0   0   0   0